function Display.titleScreen 0
call Screen.clearScreen 0
pop temp 0
push constant 8
push constant 25
call Output.moveCursor 2
pop temp 0
push constant 13
call String.new 1
push constant 84
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 11
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 14
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 4
call String.new 1
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 11
push constant 30
call Output.moveCursor 2
pop temp 0
push constant 4
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 14
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END0
push constant 0
return
function Display.showScores 0
push constant 12
push constant 4
call Output.moveCursor 2
pop temp 0
push argument 0
call Playa.getKO 1
call Output.printInt 1
pop temp 0
push constant 18
push constant 4
call Output.moveCursor 2
pop temp 0
push argument 0
call Playa.getLinesSent 1
call Output.printInt 1
pop temp 0
push constant 12
push constant 34
call Output.moveCursor 2
pop temp 0
push argument 1
call Playa.getKO 1
call Output.printInt 1
pop temp 0
push constant 18
push constant 34
call Output.moveCursor 2
pop temp 0
push argument 1
call Playa.getLinesSent 1
call Output.printInt 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 59
push constant 8
push constant 62
push constant 239
call Screen.drawRectangle 4
pop temp 0
push constant 299
push constant 8
push constant 302
push constant 239
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 0
call Playa.getLinesReceived 1
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 59
push constant 239
push argument 0
call Playa.getLinesReceived 1
push constant 20
call Math.multiply 2
sub
push constant 62
push constant 239
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push argument 1
call Playa.getLinesReceived 1
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 299
push constant 239
push argument 1
call Playa.getLinesReceived 1
push constant 20
call Math.multiply 2
sub
push constant 302
push constant 239
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push constant 0
return
function Display.gameScreen 6
push constant 65
pop local 5
push constant 8
pop local 4
push constant 3
pop local 0
push constant 8
pop local 1
push constant 4
pop local 2
push constant 0
pop local 3
call Screen.clearScreen 0
pop temp 0
label WHILE_EXP0
push local 5
push constant 306
lt
not
if-goto WHILE_END0
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 5
push local 4
push local 5
push constant 121
add
push local 4
push constant 231
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 128
add
push local 4
push constant 16
add
push local 5
push constant 181
add
push local 4
push constant 69
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 128
add
push local 4
push constant 93
add
push local 5
push constant 181
add
push local 4
push constant 146
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 50
sub
push local 4
push constant 115
add
push local 5
push constant 8
sub
push local 4
push constant 148
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 50
sub
push local 4
push constant 182
add
push local 5
push constant 8
sub
push local 4
push constant 213
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push local 5
push local 2
add
push local 4
push local 2
add
push local 5
push constant 121
add
push local 2
sub
push local 4
push constant 231
add
push local 2
sub
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 131
add
push local 4
push constant 19
add
push local 5
push constant 178
add
push local 4
push constant 66
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 131
add
push local 4
push constant 96
add
push local 5
push constant 178
add
push local 4
push constant 143
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 47
sub
push local 4
push constant 118
add
push local 5
push constant 11
sub
push local 4
push constant 145
add
call Screen.drawRectangle 4
pop temp 0
push local 5
push constant 47
sub
push local 4
push constant 185
add
push local 5
push constant 11
sub
push local 4
push constant 210
add
call Screen.drawRectangle 4
pop temp 0
push constant 1
push constant 25
push local 3
add
call Output.moveCursor 2
pop temp 0
push constant 4
call String.new 1
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 84
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 8
push constant 25
push local 3
add
call Output.moveCursor 2
pop temp 0
push constant 4
call String.new 1
push constant 72
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 68
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 3
push local 3
add
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 75
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 15
push constant 2
push local 3
add
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 16
push constant 2
push local 3
add
call Output.moveCursor 2
pop temp 0
push constant 5
call String.new 1
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 5
push constant 240
add
pop local 5
push constant 30
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Display.endScreen 4
push constant 1
pop local 2
call Screen.clearScreen 0
pop temp 0
push argument 0
call Playa.getKO 1
push argument 1
call Playa.getKO 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label IF_FALSE0
push argument 0
call Playa.getKO 1
push argument 1
call Playa.getKO 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
pop local 0
push constant 1
pop local 1
push constant 0
pop local 2
label IF_FALSE1
push argument 0
call Playa.getKO 1
push argument 1
call Playa.getKO 1
eq
push argument 0
call Playa.getLinesSent 1
and
push argument 1
call Playa.getLinesSent 1
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label IF_FALSE2
push argument 0
call Playa.getKO 1
push argument 1
call Playa.getKO 1
eq
push argument 0
call Playa.getLinesSent 1
and
push argument 1
call Playa.getLinesSent 1
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
pop local 0
push constant 1
pop local 1
push constant 0
pop local 2
label IF_FALSE3
push argument 0
call Playa.getKO 1
push argument 1
call Playa.getKO 1
eq
push argument 0
call Playa.getLinesSent 1
and
push argument 1
call Playa.getLinesSent 1
eq
push argument 4
and
push argument 5
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push argument 0
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
label IF_FALSE4
push argument 0
call Playa.getKO 1
push argument 1
call Playa.getKO 1
eq
push argument 0
call Playa.getLinesSent 1
and
push argument 1
call Playa.getLinesSent 1
eq
push argument 4
and
push argument 5
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
pop local 0
push constant 1
pop local 1
push constant 0
pop local 2
label IF_FALSE5
push local 2
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 10
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 80
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 1
call Output.printInt 1
pop temp 0
push constant 11
push constant 28
call Output.moveCursor 2
pop temp 0
push local 1
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push argument 2
call Output.printString 1
pop temp 0
label IF_FALSE7
push local 1
push constant 1
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push argument 3
call Output.printString 1
pop temp 0
label IF_FALSE8
push constant 12
push constant 29
call Output.moveCursor 2
pop temp 0
push constant 6
call String.new 1
push constant 32
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
goto IF_END6
label IF_FALSE6
push constant 10
push constant 26
call Output.moveCursor 2
pop temp 0
push constant 12
call String.new 1
push constant 73
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 87
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
label IF_END6
label WHILE_EXP0
push local 3
push constant 128
eq
not
not
if-goto WHILE_END0
call Keyboard.readChar 0
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Display.showBlock 5
push constant 3
pop local 0
push constant 8
pop local 1
push constant 4
pop local 2
push constant 67
pop local 3
push constant 15
pop local 4
push argument 0
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 307
pop local 3
label IF_FALSE0
push local 4
push local 1
push local 0
add
add
push argument 1
call Math.multiply 2
pop local 4
push local 3
push local 1
push local 0
add
add
push argument 2
call Math.multiply 2
pop local 3
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push local 4
push local 3
push local 1
add
push local 4
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Display.showNext 4
push constant 199
pop local 3
push constant 30
pop local 2
push constant 3
pop local 0
push constant 8
pop local 1
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 439
pop local 3
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push constant 3
sub
push local 2
push constant 3
sub
push local 3
push constant 44
add
push local 2
push constant 44
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push local 1
add
push local 0
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push local 1
add
push local 0
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push argument 1
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push local 2
push constant 16
add
push local 3
push local 1
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push local 1
add
push local 0
add
push local 2
push constant 16
add
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 16
add
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 3
push local 0
call Math.multiply 2
add
push local 2
push constant 16
add
push local 3
push constant 4
push local 1
call Math.multiply 2
add
push constant 3
push local 0
call Math.multiply 2
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push argument 1
push constant 2
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 4
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push argument 1
push constant 3
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 28
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push argument 1
push constant 4
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 16
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE5
push argument 1
push constant 5
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 4
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push argument 1
push constant 6
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 28
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE7
push constant 0
return
function Display.showHold 4
push constant 199
pop local 3
push constant 107
pop local 2
push constant 3
pop local 0
push constant 8
pop local 1
push argument 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 439
pop local 3
label IF_FALSE0
push constant 0
call Screen.setColor 1
pop temp 0
push local 3
push constant 3
sub
push local 2
push constant 3
sub
push local 3
push constant 44
add
push local 2
push constant 44
add
call Screen.drawRectangle 4
pop temp 0
push argument 1
push constant 7
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push argument 1
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push local 1
add
push local 0
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push local 1
add
push local 0
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push argument 1
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push local 2
push constant 16
add
push local 3
push local 1
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push local 1
add
push local 0
add
push local 2
push constant 16
add
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 16
add
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 3
push local 1
call Math.multiply 2
add
push constant 3
push local 0
call Math.multiply 2
add
push local 2
push constant 16
add
push local 3
push constant 4
push local 1
call Math.multiply 2
add
push constant 3
push local 0
call Math.multiply 2
add
push local 2
push constant 17
add
push local 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push argument 1
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 4
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push argument 1
push constant 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 28
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE5
push argument 1
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 16
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push argument 1
push constant 5
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 4
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE7
push argument 1
push constant 6
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 3
push constant 28
add
push local 2
push local 1
add
push local 0
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push local 0
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 4
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 4
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 16
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 16
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push local 3
push constant 28
add
push local 2
push constant 2
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
push local 3
push constant 28
add
push local 1
add
push constant 1
add
push local 2
push constant 3
push local 1
call Math.multiply 2
add
push constant 2
push local 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE8
push constant 0
return
